{% load static %}

 <!-- JavaScript Libraries -->
    <script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static 'code.jquery.com/jquery-3.4.1.min.js" type="3c042ba0572ca40a76645b01-text/javascript' %}"></script>
    <script src="{% static 'cdn.jsdelivr.net/npm/bootstrap%405.0.0/dist/js/bootstrap.bundle.min.js' %}"
        type="3c042ba0572ca40a76645b01-text/javascript"></script>

    <script src="{% static 'lib/wow/wow.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'js/js.js' %}" type="3c042ba0572ca40a76645b01-text/javascript"></script>
    <script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="3c042ba0572ca40a76645b01-|49" defer></script>
